<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">Lakmus</a>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/clients']">Clients List</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/clients', 0, 'edit']">Add client</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>