<div class="panel panel-primary">
  <div class="panel-heading">
    All clients
  </div>
  <div class="panel-body">


    <div>
      <form [formGroup]="searchForm" (ngSubmit)="doSearch(searchForm.value)" class="form-inline" novalidate>
        <fieldset>
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="sortByName" [ngModelOptions]="{standalone: true}" (change)="sortBy($event)" [disabled]="isLoading || errorMessage"> Sort by name
            </label>
          </div>
          <button type="submit" class="btn btn-default pull-right" [disabled]="isLoading">Search</button>
          <div class="form-group pull-right">
            <div class="col-md-8">
              <input formControlName="name" (keyup)="doSearch(searchForm.value)" class="form-control" id="clientSearchByNameId" type="search"
                placeholder="Type name..." />
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="text-center text-danger" *ngIf="errorMessage">{{errorMessage}}</div>

    <app-loader [isLoading]="isLoading"></app-loader>

    <div class="table-responsive" *ngIf="!isLoading && !errorMessage">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>
              <a [routerLink]="['/clients', client.id]" [queryParams]="{sortBy: sortType, search: searchData, page: currentPage}">
                {{client?.name}}
              </a>
            </td>
            <td>{{ client?.phone }}</td>
            <td>{{ client?.email }}</td>
            <td>{{ client?.mapedBirthDay | date:'MM/dd/yyyy' }}</td>
            <td>{{ client?.address }}</td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/clients', client.id, 'edit']" [queryParams]="{sortBy: sortType, search: searchData, page: currentPage}">
                Edit
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="!errorMessage">
  <div class="col-xs-12 text-center">
    <pagination [boundaryLinks]="true" [maxSize]="pagerMaxSize" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" [(ngModel)]="currentPage"
      class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>